<h1>Add a new car to the Collection</h1>
<form  action="/car-added" method="post">
  <label for="make-model">Make and Model</label>
  <input type="text" name="make-model" id="make-model">

  <label for="price">Price</label>
  <input type="number" name="price" id="price">

  <label for="miles">Current Mileage</label>
  <input type="number" name="miles" id="miles">
  <button type ="submit">Add Car</button>
</form>
