<h1>Cars For Sale</h1>

  @foreach(var Car in @Model)
  {
  <ul style="list-style: none;">
    <li><strong>@Car.GetMakeModel()</strong></li>
    <li>Price: $@Car.GetPrice()</li>
    <li>Mileage: @Car.GetMiles()</li>
  </ul>
  }
<p><a href="/">Add another Car</a></p>
