<h1>Cars For Sale</h1>
<ul>
  @foreach(Car in Model)
  {
   <li>@Car</li>
  }
</ul>
<p><a href="/">Add another Car</a></p>
<form action="/tasks_cleared" method="post">
  <button type="submit" name="button">Clear All Tasks</button>
</form>
