<h1>Review your information before posting:</h1>
<p>@Model.GetMakeModel()</p>
<p>@Model.GetPrice()</p>
<p>@Model.GetMiles()</p>

<!-- <form action="/car_cleared" method="post">
  <p>Found an error?</p>
  <button type="submit" name="button"> Restart your Listing</button>
</form> -->

<p><a href="/">Add another car</a></p>
<p><a href="/car-collection">Post Your Car to Our Inventory!</a></p>
